<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CurrencyXchange - Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">

        <div class="row mt-3 mb-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
                <h1>CurrencyXchange | Dashboard</h1>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" align="center">
                <div id="profile-image"></div>
                <div class="mt-3 mb-3">
                    <button data-toggle="modal" data-target="#uploadPictureModal" id="uploadPicBtn" type="button"
                        class="btn btn-primary">Upload Picture</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload New Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" enctype="multipart/form-data" id="uploadPictureForm">
                        <div class="modal-body">
                            <input name="file" type="file" required accept="image/png, image/jpeg">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr class="ml-3 mr-3">

        <div class="row mt-3 mb-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3>Wallet: <span id="walletMoney"></span></h3>
                <p id="addMoney"></p>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Money</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" id="addMoneyForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <input id="moneyInput" type="number" name="money" class="form-control" placeholder="Money" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        $('document').ready(function () {

            // Token for authorization
            var authToken = localStorage.getItem('token');

            // Check if the user is logged in
            checkAuthentication();
            function checkAuthentication() {
                var myStorage = localStorage;
                var token = localStorage.getItem('token');

                // User already signed in - redirect to dashboard
                if (!token) {
                    window.location.replace('{% url "web_service:signin_page" %}');
                    return true;
                }
                return true;
            }


            // Get profile picture
            getProfilePicture();
            function getProfilePicture() {
                $.ajax({
                    method: 'GET',
                    url: '{% url "api_service:profile_picture_api" %}',
                    headers: {
                        Authorization: `Token ${authToken}`,
                    },
                    success: function (response) {
                        if (response) {
                            var pictureUrl = response[0].file_url;
                            var imageTag = `<img src="${pictureUrl}" class="img-fluid">`;
                            $('#profile-image').html(imageTag);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
            }

            $('#uploadPictureForm').on('submit', function (e) {
                e.preventDefault();
                uploadPicture();
            });

            // Upload new picture
            function uploadPicture() {
                var formData = new FormData(document.getElementById('uploadPictureForm'));
                $.ajax({
                    method: 'POST',
                    url: '{% url "api_service:profile_picture_api" %}',
                    headers: {
                        Authorization: `Token ${authToken}`,
                    },
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response) {
                        getProfilePicture();
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
            }


            // Get wallet money
            getWallet();
            function getWallet() {
                $.ajax({
                    method: 'GET',
                    url: '{% url "api_service:wallet_api" %}',
                    headers: {
                        Authorization: `Token ${authToken}`,
                    },
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.length !== 0) {
                            $('#walletMoney').html(`$${response[0].money}`);
                            $('#addMoney').html(`<button data-toggle="modal" data-target="#addMoneyModal" id="addMoneyBtn" type="button" class="btn btn-primary">Add Money</button>`);
                        } else {
                            var addMoneyHtml = `
                            <button id="createWalletBtn" class='btn btn-primary' type='button'>Create Wallet</button>
                            `;
                            $('#walletMoney').html(addMoneyHtml);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
            }


            // Create Wallet
            $('#walletMoney').on('click', '#createWalletBtn', function(e) {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url "api_service:wallet_api" %}',
                    headers: {
                        Authorization: `Token ${authToken}`,
                    },
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        getWallet();
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
            });


            // Add money to wallet
            $('#addMoneyForm').on('submit', function(e) {
                var money = $('#moneyInput').val();
                if (money <= 0) {
                    money = 100;
                }
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url "api_service:wallet_api" %}',
                    headers: {
                        Authorization: `Token ${authToken}`,
                    },
                    data: {
                        money: money,
                    },
                    success: function (response) {
                        getWallet();
                        $('#moneyInput').val('');
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
            });


        });
    </script>

</body>

</html>