<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CurrencyXchange - Currency Conversion & Wallet Services</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container-fluid">

        <div class="row mt-3 mb-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
                <h1>CurrencyXchange</h1>
                <h2>Currency Conversion & Wallet Services</h2>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    A simple Django application with integrated Django Rest Framework.
                </p>
                <p>
                    Tech used: Python, Django, Django Rest Framework, SQLite, Bootstrap and third-party libraries.
                </p>
                <p>
                    Back-end is exposed as a Rest API. Front-end is made fully responsive, powered by Bootstrap.
                </p>

                <h3>Features:</h3>
                <ul>
                    <li>Users can sign up/sign in</li>
                    <li>Users can create/add money in wallet</li>
                    <li>Users can check/convert currency prices in different currencies</li>
                </ul>

                <h3>Run:</h3>
                <ul>
                    <li><code>git clone https://github.com/PraneethKarnena/CurrencyXchange.git</code></li>
                    <li><code>cd CurrencyXchange-master</code></li>
                    <li>
                        Add environment variables in <code>ENV_VARS.sh</code>
                    </li>
                    <li>
                        <code>bash ENV_VARS.sh</code> (valid for *nix environments)
                    </li>
                    <li>
                        <code>pip install requirements.txt</code>
                    </li>
                    <li>
                        <code>python manage.py runserver</code>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
            </div>
        </div>

    </div>
</body>

</html>